# Fichiers de lancement locaux
launch_burger.bat

# Fichiers de configuration sensibles
.streamlit/secrets.toml
secrets.toml
.env
mongodb_config.py

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak
